{
  "sourceMaps": true,
  "presets": [
    ["es2015", { "loose": true, "modules": false }],
    "es2016",
    "stage-0"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
