.well {
  overflow: hidden;

  &:after {
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.12);
    height: 4px;
    background: #fafafa;
    position: relative;
    content: '';
    display: block;
    z-index: 1;
  }
}
