.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;

    margin: -32px auto;
    padding: 32px 0;
    overflow: hidden;

    & > .cluster {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 25%;

        & > .tile {
            display: block;
            flex: 0 0 50%;
        }

        &.long {
            flex: 0 0 50%;
            & > .tile {
                flex: 0 0 25%;
            }
        }
    }

    & > .tile {
        display: block;
        flex: 0 0 12.5%;

        &.big {
            flex: 0 0 25%;
        }
    }

    .tile {
        //padding: 1px;
        align-self: center;
        text-align: center;

        img {
            display: block;
            max-width: 100%;
            width: 100%;
            height: auto;

            transition:
                box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1), 
                transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.4);
                transform: scale(1.1, 1.1);
            }
        }

        &:hover {
            z-index: 1;
        }
    }
}

@media screen and (max-width: 1903px) {
    .experience {
        & > .cluster {
            &, &.long {
                flex: 0 0 33.33%;

                & > .tile {
                    flex: 0 0 50%;
                }
            }
        }

        & > .tile {
            flex: 0 0 16.666%;

            &.big {
                flex: 0 0 33.333%;
            }
        }
    }
}


@media screen and (max-width: 959px) {
    .experience {
        & > .cluster {
            &, &.long {
                flex: 0 0 50%;
            }
        }
 

        & > .tile {
            flex: 0 0 50%;

            &.big {
                flex: 0 0 50%;
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .experience {
        & > .cluster {
            &, &.long {
                flex: 0 0 100%;
            }
        }
 

        & > .tile {
            flex: 0 0 50%;

            &.big {
                flex: 0 0 100%;
            }
        }
       }
}